@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700,900|Ubuntu:400,500,700');
* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

.logo {
    position: absolute;
    width: 196px;
    height: 63px;
    left: 15px;
    top: 19px;

    
    
}

.menu-button {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 327px;
    top: 22px;
}

Header a {
    position: absolute;
width: 286px;
height: 52px;
left: 45px;
top: -125px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    display: inline-block;
    transition: 300ms;
}

header a:hover {
    transform: translateY(-8px);
}

h1 {
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 20px;
text-align: center;
padding: 15px 48px;
color: #000000;
}

#b2{
    position: absolute;
    width: 285px;
height: 52px;
left: 44px;
top: 267px;

border: 1px solid #FFFFFF;
box-sizing: border-box;
box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.09);
border-radius: 5px;
background: rgba(47, 182, 201, 0.71);
}

.header-container{
    background: #E5E5E5 url(images/campus-pic.png);
    background-repeat: no-repeat;
    position: absolute;
    background-size: contain;
    display: flex;
    width: 375px;
    height: 421px;
    left: 0px;
    top: 246px;
}

.ct{
    position: absolute;
width: 375px;
height: 246px;
left: 0px;
top: 0px;

background: #E0E0E0;
}

#die-app {
    font-family: 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.sidebar {
    position: absolute;
    left:  375px;
    background: #3AB8C9;
    z-index: 10;
    height: 667px;
    transition: all .5s ease;
}

.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #3AB8C9;
    
}

.sidebar ul a {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid black;
    transition: .4s;
    margin-right: 33px;
    margin-left: -30px;

}

ul li:hover a {
    padding-left: 10px;
}

#check{
    display: none;
}


.menu-logo {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 327px;
    top: 19px;
    transition: all .5s ease;
    z-index: 20000;
    position: absolute;
    cursor: pointer;
    border-radius: 3px;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ .menu-logo {
    left: 0;
    opacity: 0;
    pointer-events: none;

}

.hilfetext {
    font-size: 12px;
    margin-top: -50px;
    text-align: center;
}

.hilfetext2 {
    font-size: 12px;
    margin-top: -135px;
    text-align: center;
}